*{
    color: #e5e9f0;
    font-family: "FiraCode Nerd Font", sans-serif;
}

button {
    background: none;
	color: inherit;
	border: none;
	outline: inherit;
    border-radius: 0;
    box-shadow: none;
    padding: 2;
    font-size: 0.8em;
}

.bar {
    padding-left: 3;
    padding-right: 5;
    background-color: #0e1013;
}

.clock {
    color: #81a1c1;
    margin: 0;
}

.battery {
    color: #b48ead;
}
